{% extends "app/base.html" %}

{% load static %}

{% block content %}


<section class="content-main">

<div class="card mb-4">
    <header class="card-header">
        <h4 class="card-title">My Books({{ books.count }})</h4>

        <div class="row align-items-center">
            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                <p>You have {{ books.count }} book(s) now.</p>
            </div>
        </div>
    </header>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <section class="content-body p-xl-4">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="content-title">Add Book</h3>
                                <br />
                                <div class="card card-header row gx-3s">
                                    <br />
                                    <div class="col-6s mb-3">
                                        <label class="form-label">Title</label>
                                        <input name="title" class="form-control" type="text" placeholder="Type here" required/>
                                    </div>
                                    <br />
                                    <div class="col-6s mb-3">
                                        <label class="form-label">Author</label>
                                        <input name="author" class="form-control" type="text" placeholder="Type here" required/>
                                    </div>
                                    <br />
                                    <div class="col-6s mb-3">
                                        <label class="form-label">Publication Year</label>
                                        <input name="year" class="form-control" type="date" placeholder="Type here" required/>
                                    </div>
                                    <div class="col-6s mb-3">
                                        <label class="form-label">Your book will be added to the database when you click the 'add' button</label>
                                        
                                    </div>
                                    <div class="col-6s mb-3">
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!-- row.// -->
                        
                    </form>
                    
                    <!-- row.// -->
                </section>
            </div>

            <div class="col-lg-8 col-md-8">
                <br /><br />
                <div class="content-header">
                    
                </div>
        
                <section class="content-main mt-80s mb-80s" style="border-radius: 15px;">
                    <div class="row">
                    {% if books %}
                        {% for item in books %}
                            <div class="col-lg-4 col-md-4">
                                <div class="card card-user">
                                    <div class="card-body" style="background-color: rgb(241, 240, 240); min-height: 200px;">
                                        <h3 style="color: rgb(60, 58, 58)">{{ item.title }}</h3>
            
                                        <small style="font-size: 10px; color: rgb(60, 58, 58);">Author: {{ item.author }}</small>
                                        <br />
            
                                        <small style="font-size: 10px; color: rgb(60, 58, 58);">Publication Year: {{ item.year }}</small>
                                        <div class="card-text text-muted">
                                            <small style="font-size: 10px;">#{{ item.pub_date }}</small>
                                        </div>
                                        <hr>
                                        <div class="card-footers">
                                            <a class="" href="{% url 'book:edit' item.id %}">Edit</a>
                                            <k style="color: black;">|</k>
                                            <a class="" href="{% url 'book:remove' item.id %}">Delete</a>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </section>

                    {% else %}
 
                    <section class="content-main mt-80s mb-80s">
                        <div class="card mx-auto card-login2">
                            <div class="row card-body">
                                <div class="col-lg-12 col-md-12">
                                    <br /><br />
                                    <h3 class="card-title mb-5">No Books Yet!</h3>
                                    <p>Your books will show up here when they are available..</p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    {% endif %}
        
                
            </div>
        </div>

        
        
        <!-- table-responsive end// -->
    </div>
</div>
<div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
            </li>
        </ul>
    </nav>
</div>

</section>

{% endblock %}