{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Accessng Solutions Ltd</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="Changing the face of Africa." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="Accessng Solutions Ltd" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="#" />
        <meta property="og:image" content="{% static 'app/imgs/accessng_logo.png' %}" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/imgs/accessng_logo.png' %}" />
        <!-- Template CSS -->
        <link href="{% static 'app/css/main.css' %}" rel="stylesheet" type="text/css" />
        


    </head>


<body class="dark">
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="{% url 'app:sign_up' %}" class="brand-wrap">
                        <img src="{% static 'app/imgs/accessng_logo.png' %}" class="logo" alt="Accessng Logo" />
                    </a>
                </div>
                <div class="col-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="{% static 'app/imgs/theme/flag-us.png' %}" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="{% static 'app/imgs/theme/flag-fr.png' %}" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="{% static 'app/imgs/theme/flag-jp.png' %}" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="{% static 'app/imgs/theme/flag-cn.png' %}" alt="Français" />中国人</a>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </header>

            <br /><br />
            <section class="content-main mt-80s mb-80s row">
                <br /><br />
                <div class="card mx-auto card-login col-lg-6 col-md-6">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Create an Account</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Your Name</label>
                                <input required name="name" class="form-control" placeholder="Your name" type="text" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input required name="email" class="form-control" placeholder="Your email" type="email" />
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input required name="username" class="form-control" placeholder="Your username" type="text" />
                            </div>

                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">Create password</label>
                                <input name="password1" class="form-control" placeholder="Password" type="password" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm password</label>
                                <input name="password2" class="form-control" placeholder="Password again" type="password" required/>
                            </div>

                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                            <!-- form-group// -->
                        </form>
                        </div>
                        <p class="text-center mb-2">Already have an account? <a href="{% url 'app:sign_in' %}">Sign in now</a></p>
                        
                    </div>
                </div>
                
            </section>
            <footer class="main-footer text-center">
                <p class="font-xs">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Accessng Solutions Ltd
                </p>
                <p class="font-xs mb-30">All rights reserved</p>
            </footer>
        </main>


        <script src="{% static 'app/js/vendors/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'app/js/vendors/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'app/js/vendors/jquery.fullscreen.min.js' %}"></script>
        <!-- Main Script -->
        <script src="{% static 'app/js/main.js' %}" type="text/javascript"></script>

    </body>
</html>
